.recommended-product-card{
    display: block;
    text-align: center;
    margin-right: 10px;
    min-width: 150px;
    padding: 10px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    
    
    .image-container{
        width: 100%;

        img{
            width: 100%;
        }
    }

    p{
        margin: 10px 0  5px;
        font-size: 14px;
    }
    
}

@media only screen and (min-width: 600px){
    .recommended-product-card{
        margin-right: 30px;
    }
}