html,body{
	font-family: Calibri, "Segoe UI", Arial, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	overflow-y: scroll;
}
*{
	box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
