.secBtn{
    height: 45px;   
    
    box-sizing: border-box; 
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    
    padding: 0 20px; 

    border: 2px solid;
}