.DescriptionSet,
.description-set{
    display: flex;
    flex-direction: column;

    .title-container{
        overflow: hidden;

        .description-set-title{
            font-size: 32x;
            font-family:  Helvetica, Arial, sans-serif;
            font-weight: bold;
            line-height: 34px;
            margin: 0;
        }        
    }


    .detail-container{
        overflow: hidden;
        margin-bottom: 30px;
        margin-top: 15px;

        .description-set-detail{
            font-size: 16px;
            margin: 0;
            width: 100%;
        }        
    }


    .btn-container{
        overflow: hidden;

        button{
            width: fit-content;
            min-width: 150px;
        }        
    }

    
}


@media only screen and (max-width: 768px){
    
    .description-set-title{
        font-size: 31px;
        font-weight: bold;
        width: 100%;
    
    }

    .description-set button{
        width: 100%;
    }
}