.shop-main-section{
    width: 100%;
    padding: 20px;

    .container{
        .section-head{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .category-select, select{
                background: transparent;
                max-width: 95px;
                outline: none;
                border:none;
                font-size: 12px;
            }

            .sort-select{
                padding: 2px 0;
            }
            .sort-select, .icons-container{
                width: 61px
            }

            .icons-container{
                display: flex;
                justify-content: flex-end;;
                *{
                    height: 16px;
                    margin: 0 3px;
                }
            }

        }

        .products-gallery{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 5.5%;
        }

        .button-block{
            padding: 10%;
            text-align: center;
        }
        
    }
}



@media only screen and (min-width: 600px){
    .shop-main-section{

        .container{

            .products-gallery{
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 4%;
            }
        }
    }
}

@media only screen and (min-width: 769px){
    .shop-main-section{
        width: 83%;

        .container{
            .section-head{
                margin-bottom: 40px;

                .category-select, select{
                    background: transparent;
                    max-width: 5px;
                    outline: none;
                    border:none;
                    font-size: 12px;
                }

                .sort-select{
                    padding: 2px 0;
                }
                .sort-select, .icons-container{
                    width: 101px
                }

                .icons-container{
                    display: flex;
                    justify-content: flex-end;;
                    *{
                        height: 16px;
                        margin: 0 3px;
                    }
                }

            }            
        }

    }


}

@media only screen and (min-width: 1024px){
    .shop-main-section{
        .container{
            .products-gallery{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 2%;
                grid-row-gap: 3%;
            }
        }
    }
}
