.shop-main-section{
    width: 100%;
    padding: 20px;

    .container{
        .mobile-section-head{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 20px;

            .search-box-container{
                justify-content: flex-end;
                display: flex;
                margin-bottom: 10px;

            }

            .cat-description{
                display: none;
            }

            .sort-cat-section{
                display: flex;
                justify-content: space-between;
                margin-top: 15px;
            }

            .category-select, select{
                background: transparent;
                max-width: 95px;
                outline: none;
                border:none;
                font-size: 12px;
            }

            .cat-select-container{
                display: flex;
                align-items: center;

                h5{
                    margin: 0;
                    display: none;
                    margin-right: 10px;
                    font-weight: '700';
                    
                }
            }

            .sort-select{
                padding: 2px 0;
            }
        }

        .products-gallery{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 5.5%;
            grid-row-gap: 10px;
            opacity: 0;
        }

        .button-block{
            padding: 10%;
            text-align: center;
        }
        
    }
}



@media only screen and (min-width: 600px){
    .shop-main-section{

        .container{

            .mobile-section-head{
                .cat-select-container{
                    h5{
                        display: block;
                    }
                }
                
                .search-box-container{
                    margin-bottom: 20px;
                }
            }

            .products-gallery{
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 4%;
            }
        }
    }
}

@media only screen and (min-width: 769px){
    .shop-main-section{
        width: 83%;

        .container{
            .mobile-section-head{
    
                .cat-description{
                    display: block;
                    width: 65%;

                    h1{
                        font-size: 20px;
                        margin-bottom: 0px;
                    }

                    p{
                        font-size: 12px;
                        margin-top: 5px;
                        margin-bottom: 0;
                    }
                }

                .sort-cat-section{
                    justify-content: flex-end;
                    margin-top: 0;
                    margin-bottom: 20px;
                    
                    .sort-select{
                        max-width: 120px;
                        padding: 5px 5px;
                    }
                    
                }
    
                .cat-select-container{
                    display: none;
                }
            }
                      
        }

    }


}

@media only screen and (min-width: 1024px){
    .shop-main-section{
        .container{
            .products-gallery{
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-column-gap: 2%;
                grid-row-gap: 35px;
            }
        }
    }
}
