.auth-input-container{
    margin-bottom: 10px;

    input{
        height: 40px;
        border: none;
        padding: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
        color: #191F29;
        width: 100%;
        border-radius: 2px;
        outline: none;

        &::placeholder{
            font-size: 13px;
            font-weight: normal;
        }
    }


    &[theme = 'dark']{

        input{
            background: #191F29;
            color: white;
        }
    }

    .error-message{
        height: 10px;
        margin: 0;
        font-size: 10px;
        margin-top: 2px;
        color: red;
    }
}