.loading-screen{
    height: 100vh;
    width: 100vw;
    background: white;
    z-index: 100000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;

    &[theme = 'dark']{
        background: #262E3C;
    }

    .alox-icon{
        width: 100px;
        height: fit-content;
        overflow: hidden;;
        
        svg{
            width: 100%;
        };
    }

}