.main-nav-bar{
    box-sizing: border-box;
    padding: 0 5.5%;
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 3;


    #navbar-toggler-btn{
        height: 20px;
    }
    

    button{
        padding: 0;
    }

    .brandName{
        height: 30px;
    }
}

@media only screen and (min-width: 600px){
    .main-nav-bar{
        height: 80px;
    }
}