.welcome2{
    position: relative;
 overflow: hidden;
    height: 100vh;
    min-height: 500px;
    padding: 5.5%;


    img{
            position: absolute;
            bottom: 0;
            left: 0;
            height: 100%;
            min-height: 100%;
        }

    *{
        color: white !important;
    }


    .container{
        height: 100%;

        .welcome2-content{
            align-items: flex-start;
            height: 100%;
            


            .description-set{
                margin: 0;
                margin-top: 20px;
                height: 100%;

                h1{
                    font-size: 32px;
                    margin-top: 40px;
                }

                .btn-container{
                        margin-top: auto; 
                        margin-bottom: 50px;

                    button{
                        width: 100%;
                        border: 2px solid white;
                        
                    }                    
                }

            }

        }
    }


} 

@media only screen and (min-width: 768px){
    .welcome2{
        height: fit-content;
        max-height: 80vh;
        min-height: unset;
        padding: 0 5.5%;

        img{
                // bottom: -50%;
                // height: 100%;
                // top: unset;
                min-width: 100%;
                height: auto;
            }

        .container{
            padding-top: 50%;
            height: 0;

            .welcome2-content{
                margin: 0 5%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: fit-content;

                .description-set{
                    height: fit-content;
                    width: 50%;

                    h1{
                        margin: 0;
                    }

                    .btn-container{

                    button{
                        width: unset;
                        
                    }                    
                }
                }
            }
        }
    }
}
