.welcome2{
    position: relative;
    background: url('./images/welcomeImg2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 500px;
    padding: 5.5%;
    

    *{
        color: white !important;
    }

    .container{
        height: 100%;

        .welcome2-content{
            align-items: flex-start;
            height: 100%;
            


            .description-set{
                margin: 0;
                height: 100%;

                h1{
                    font-size: 32px;
                    margin-top: 40px;
                }

                button{
                    border: 2px solid white;
                    margin-top: auto; 
                    margin-bottom: 20px;
                }
            }

        }
    }


} 

@media only screen and (min-width: 768px){
    .welcome2{
        height: fit-content;
        max-height: 80vh;
        min-height: unset;
        padding: 0 5.5%;

        .container{
            padding-top: 45%;
            height: 0;

            .welcome2-content{
                margin: 0 5%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: fit-content;

                .description-set{
                    height: fit-content;
                    width: 50%;

                    h1{
                        margin: 0;
                    }
                }
            }
        }
    }
}
