.secBtn{
    height: 45px;   
    box-sizing: border-box; 
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    transition: transform 0.2s !important;
    // transform-origin: left;
     

    border: 2px solid;

    a{
        padding: 0 20px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit !important;
    }
}