.welcome1{
    height: 100vh;
    min-height: 500px;
    width: 100%;
    padding: 5.5%;


    .container{
        height: 100%;
        width: 100%;
        padding-top: 40px;

        .content-holder{
            height: 100%;
            width: 100%;

            .welcome1-content{
                z-index: 1;
                position: relative;
                height: -webkit-fill-available;
                transition: 1s;
                @media only screen and (max-width: 768px){
                    background: transparent !important;
                }
                

                .contain{
                    height: 100%;
                    height: fill-available;
                    overflow: hidden;

                    .description-set{
                        height: 100%;
                        height: fill-available;
        
        
                        .description-set-title,
                        .description-set-detail{
                            color: #191729;
                            padding: 0 15px;
                        }
                    
                        .btn-container{
                            margin-top: auto;
                            margin-bottom: 50px;
                            button{
                                width: 100%;
                                
                                
                            }                            
                        }

                    }
        
                    img{
                        position: absolute;
                        width: 100%;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        max-height: 87%;
                    }
                }
                
            }


        }
        

        
    }
}

@media only screen and (min-width: 768px){
    .welcome1{
        height: fit-content;
        padding: 0 5.5%;
        min-height: unset;

        .container{
            padding-top: 58%;
            height: 0;

            .content-holder{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 4% 0;

                .welcome1-content{

                    &:not([theme = dark]){
                        background: linear-gradient(180deg, #F0F0F0 0%, #EFEFEF 38.06%, #DFDFDF 100%);
                    }
    
                    .contain{
                        padding-left: 5.5%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
     
                        .description-set{
                            height: fit-content;
                            width: 55%;
    
                            .description-set-title,
                            .description-set-detail{
                                color: unset;
                                padding: 0;
                            }
    
                            .description-set-title{
                                width: 75%;
                            }

                            .btn-container{

                                button{
                                    width: unset;
                                }
                            }
                            
                        }
    
                        img{
                            position: relative;
                            right: 0;
                            max-width: 40%;
                            z-index: unset;
                            height: 100%;
                            max-height: 100%;

                        min-height: fill-available;
                            
                        }
                        
                    }
                    
                }


            }

            
        }

    }
}