button{
  background: transparent;
  border: none;
}


$shade1bg:  #FFFFFF;
$shade2bg: #EEEEEE;
$AppColor: #191F29;

.App[theme = 'dark']{
  
$shade1bg: #191F29;
$shade2bg: #262E3C;
$AppColor: #FFFFFF;
}

a{
  text-decoration: none;
}

svg{
  height: 100%;
}

.container{
  position: relative;
}

.shade1bg,
.shade2bg{
  transition: 1s;
}

.image-darkener{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: 1s;
}

.App {
  text-align: left;
  transition: 1s;
  width: 100%;
  background: #FFFFFF;



  *{
    color: #191F29;
    transition: 1s;
  }

  hr{
    border-color: rgba(25, 31, 41, 0.185);
  }

  .shade1bg{
    transition: 1s;
    background: #FFFFFF;
  }

  .shade2bg{
    transition: 1s;
    background: #EEEEEE; 
  }

  .image-darkener{
    opacity: 0;
  }

  .secBtn{
    border: 2px solid #191F29;
  }

  *{
    fill: #191F29;
  }




  &[theme = 'dark']{
    background: #191F29;

    *{
      color: white;
    }

    hr{
      border-color: rgba(255, 255, 255, 0.199);
    }
    

    .shade1bg{
      background: #191F29;
    }

    .shade2bg{
      transition: 1s;
      background: #262E3C;
    }

    .image-darkener{
      opacity: 1;
    }

    .secBtn{
      border: 2px solid #FFFFFF;
    }

    *{
      fill: white;
    }
  }

}







ul{
  list-style: none;
}

h1, h2, h3, h4, h5{
  font-family: Helvetica;

  font-style: normal;
  font-weight: 700;
}

