.side-section{
    height: calc(100vh - 80px);
    display: none;
    position: sticky;
    top: 80px;
    width: 17%;
    

    .container{

        .option-block{

            .option-title-text{
                font-weight: 100;
                font-size: 14px;
                text-decoration: underline;
                padding: 50px 30px 0px;
            }

            ul{
                padding: 0;
                text-decoration: dotted;

                li{
                    font-size: 15px;
                    width: 100%;
                    cursor: pointer;

                    &[active = 'true']{
                        background-color: rgba(0, 0, 0, 0.236);
                    }
                    
                    a{
                        padding: 10px;
                        padding-left: 20%;
                        height: 100%;
                        width: 100%;
                        display: block;
                    }

                    &:hover{
                        background-color: rgba(0, 0, 0, 0.136);
                    }
                }

            }

            .filter-options{
                padding-left: 20%;

                &>*{
                    margin-top: 25px;
                }

                
                .color-option{   
                    display: flex;
                    align-items: start;
                    flex-wrap: wrap;
                    
                    p{
                        margin-right: 20px;
                    }

                    .colors-container{
                        display: grid;
                        grid-template-columns: auto auto auto;
                        grid-template-rows: auto auto auto;
                        grid-gap: 12px 20px;

                        .color{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .material-option{
                    display: flex;
                    flex-wrap: wrap;

                    p{
                        margin-right: 10px;
                    }
                    
                    .materials-container{

                        .material{
                            display: flex;
                            margin-bottom: 13px;
                        }
                    }
                }

                .checkbox{
                    width: 14px;
                    height: 14px;
                    border: 1px solid black;
                    margin-right: 7px;
                    
                }
                p{
                    margin: 0;
                }

                .waterProof{
                    display: flex;
                }
            }
        }
    }
}




@media only screen and (min-width: 769px){
    .side-section{
        display: block;
    }
}