.side-section{
    height: calc(100vh - 80px);
    display: none;
    position: sticky;
    top: 80px;
    width: 17%;
    

    .container{

        .option-block{

            .option-title-text{
                font-weight: 100;
                font-size: 14px;
                text-decoration: underline;
                padding: 50px 30px 0px;
            }

            ul{
                padding: 0;
                text-decoration: dotted;

                li{
                    font-size: 15px;
                    width: 100%;
                    cursor: pointer;

                    &[active = 'true']{
                        background-color: rgba(0, 0, 0, 0.236);
                    }
                    
                    a{
                        padding: 10px;
                        padding-left: 20%;
                        height: 100%;
                        width: 100%;
                        display: block;
                    }

                    &:hover{
                        background-color: rgba(0, 0, 0, 0.136);
                    }
                }

            }
        }
    }
}




@media only screen and (min-width: 769px){
    .side-section{
        display: block;
    }
}