.recommended-section{
    padding: 60px 0 30px;


    .section-header{
        display: flex;
        width: 100%;
        padding: 0 5.5%;
        justify-content: space-between;
        align-items: center;

        h3{
            font-size: 16px;
        }

    }

    .recommended-product-row{
        display: flex;
        padding: 10px 5.5%;
        overflow: scroll;
        height: fit-content;
        width: 100%;

        &::-webkit-scrollbar{
            display: none;
        }
        

    }
}

@media only screen and (min-width: 600px){
    .recommended-section{

        .section-header{
            padding: 0 3%;
        }

        .recommended-product-row{
            padding: 0 3%;
        }
    }
}